header{
    background-color: rgb(185,184,187);
    padding: 20px 0px;
    
}

.caixa{
    position: relative;/*centraliza a div na caixa*/
    width: 900px;
    margin: 0 auto; 
}

nav{
    position: absolute;/*posição em relação a página*/
    top: 110px;
    right: 0;
}
nav li{
   
    display: inline;/* MENU horizontal*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /*aparência de maiúsculo*/
    color: black;
    font-weight: bold;
    font-size: 22px; 
    text-decoration:none; 
}

nav a:hover{
    color: gray;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;/*margem esquerda e direita automáticas*/
    padding: 50px;
}
.produtos li{
display: inline-block; /*organizar box*/
text-align: center; /*centralizar com a página*/
width: 30%;
vertical-align: top;
margin: 0 1,5%;
padding: 30px 20px;
box-sizing: border-box;
border: 2px solid black;
border-radius: 25px;

}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produtodescricao{
    font-size: 18px;
    
}
.produtopreco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}


/*interação com os box de produtos*/
.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}
.produtos li:hover h2 {
    font-size: 34px;
}

footer{
    text-align: center;
    background: url("fbg.jpg");
    padding: 40px 0;
}
.copyright{
color: white;
font-size: 13px;
margin: 20px;

}



main{

    width: 940px;
    margin: 0 auto;
}

form{

    margin: 40px 0; 
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;

}


/*index*/

.banner{

    width: 100%;
}

.titulocentralizado{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}


.utensilios{
    width: 120px;
    float:left;
    margin: 0 20px 20px 0;

}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style:italic; 
}

.beneficios{

}



.imagembeneficios{
    width: 60%;
}