
header{
    background-color: rgb(185,184,187);
    padding: 20px 0px;
    
}

.caixa{
    position: relative;/*centraliza a div na caixa*/
    width: 900px;
    margin: 0 auto; 
}

nav{
    position: absolute;/*posição em relação a página*/
    top: 110px;
    right: 0;
}
nav li{
   
    display: inline;/* MENU horizontal*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /*aparência de maiúsculo*/
    color: black;
    font-weight: bold;
    font-size: 22px; 
    text-decoration:none; 
}

nav a:hover{
    color: gray;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;/*margem esquerda e direita automáticas*/
    padding: 50px;
}

footer{
    text-align: center;
    background: url("fbg.jpg");
    padding: 40px 0;
}
.copyright{
color: white;
font-size: 13px;
margin: 20px;

}

/*css form*/

main{

    width: 940px;
    margin: 0 auto;
}

form{

    margin: 40px; 
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 20px;
    padding: 10px 25px; 
    width: 50%;

}

.checkbox{
    margin:20px;
}

.enviar{
    width:58%;
    padding: 15px 0;
    background-color: orange;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;  
    transition: 1s all;   
    cursor: pointer; /*mãozinha*/
}
.enviar:hover {
    background-color: darkorange;
    transform:  scale(1.1);
    
}

table {
    width: 53%;
    margin: 20px 40px;
    
}

thead{
    background-color: gray;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black; 
    padding: 8px 15px;
}
